# Basic Python

In [90]:
print("Hello world")

Hello world

## 1.1 Variables

In [91]:
msg = "hello world"
print(msg)

msg = "hello world2"
print(msg)

hello world
hello world2

In [92]:
#naming
name = "suraphop"
first_name = "suraphop"
last_name = "saelee"

In [93]:
#Example employee
employee_number =  "J6639"
emp_number = "J6639"
emp_no = "J6639"
emp = "J6639"
id = "J6639"

In [94]:
#legal

#1name = "suraphop"
name_1 = "suraphop"
name1 = "suraphop"
#$name = "suraphop"

#### 1.2 Data Types

1.2.1 Numberic

In [95]:
msg = "4"
print(type(msg))

msg_1 = "1"
print(type(msg))

print(msg+msg_1)

<class 'str'>
<class 'str'>
41

In [96]:
msg =  4
print(type(msg))

msg_1 = 1
print(type(msg))

print(msg+msg_1)

<class 'int'>
<class 'int'>
5

In [97]:
msg = int("4")

print(type(msg))

msg_1 = int("1")
print(type(msg))

print(msg+msg_1)

<class 'int'>
<class 'int'>
5

In [98]:
#cannot convert string to int
#msg = int("4D")

In [99]:
msg = 4.4
print(type(msg))

print(4+msg)

msg = 4
print(msg)
print(float(msg))

<class 'float'>
8.4
4
4.0

1.2.1 Operator

In [100]:
3+4

7

In [101]:
4-3

1

In [102]:
4*3

12

In [103]:
4/3

1.3333333333333333

In [104]:
print(round(4/3,2))

1.33

In [105]:
3**4

81

In [106]:
3 * (3+4)

21

1.2.2 String

In [107]:
msg = "hello world"
print(msg)

msg = 'hello world'
print(msg)

#print('This 's easy to learn python')
print("This 's easy to learn python")

hello world
hello world
This 's easy to learn python

In [108]:
# addding string

msg_1 = "hello"
msg_2 = "world"

print(msg_1+msg_2)
print(msg_1+" "+msg_2)
print(f"{msg_1} {msg_2}") # f-string function

helloworld
hello world
hello world

In [109]:
# formating
"PYTHON".lower()

'python'

In [110]:
"python".upper()

'PYTHON'

In [111]:
msg = "python"
msg.upper()

'PYTHON'

1.2.3 Contant

In [112]:
TEMPERATURE_SCALES = "fahtenheit"
print(TEMPERATURE_SCALES)

TEMPERATURE_SCALES = "fahtenheit1"
print(TEMPERATURE_SCALES)

TEMPERATURE_SCALES = 212
print(TEMPERATURE_SCALES)

fahtenheit
fahtenheit1
212

## 1.3 Compareative(booleans)

In [113]:
3 == 4

False

In [114]:
4 == 4

True

In [115]:
type(3 == 4)

bool

In [116]:
3 != 4

True

In [117]:
3 < 4

True

In [118]:
3 <= 4

True

In [119]:
3 < 4 < 5

True

In [120]:
True

True

In [121]:
False

False

In [122]:
not True

False

In [123]:
not False

True

In [124]:
False and True

False

In [125]:
True or False

True

## 1.4 Comments

In [126]:
#calculate temperature
TEMPERATURE_SCALES = 273 
current_temperature = 32
print(current_temperature + TEMPERATURE_SCALES) # This is a convert celsius to kelvin

305

In [127]:
""" multiple line 
comment with quote
"""
TEMPERATURE_SCALES = 273 
current_temperature = 32
print(current_temperature + TEMPERATURE_SCALES) # This is a convert celsius to kelvin

305

## 1.5 Index and Slicing

In [128]:
language = "PYTHON"

In [129]:
#Index
print(language[0])
print(language[1])
print(language[5])
print(language[-1])
print(language[-2])

P
Y
N
N
O

In [130]:
print(language[0:2])
print(language[:2])
print(language[2:4])
print(language[2:])
print(language[-3:])
print(language[-3:-1])

PY
PY
TH
THON
HON
HO

## 1.6 Data structures

1.6.1 Lists

In [131]:
file_name = "oee.xlsx"
file_names = ["one.xlsx" , "two.xlsx", "three.xlsx"]

print(type(file_name))
print(type(file_names))
print(file_names)

<class 'str'>
<class 'list'>
['one.xlsx', 'two.xlsx', 'three.xlsx']

In [132]:
file_names_2 = ["one2.xlsx" , 1, "three2.xlsx",2]
file_names_2

['one2.xlsx', 1, 'three2.xlsx', 2]

In [133]:
# addition list
file_names+file_names_2

['one.xlsx', 'two.xlsx', 'three.xlsx', 'one2.xlsx', 1, 'three2.xlsx', 2]

In [134]:
file_names = ["one.xlsx" , "two.xlsx", "three.xlsx"]
print(type(file_names))

print(type(file_names[0]))
print(file_names[0])

print(type(file_names[:2]))
print(file_names[:2])

<class 'list'>
<class 'str'>
one.xlsx
<class 'list'>
['one.xlsx', 'two.xlsx']

In [135]:
nested_lists = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [136]:
print(nested_lists[0])
print(nested_lists[0][0])

# access 5,9,[8,9]
print(nested_lists[1][1])
print(nested_lists[2][2])
print(nested_lists[2][1:]) # recommend
print(nested_lists[2][1:3])
print(nested_lists[2][-2:])

[1, 2, 3]
1
5
9
[8, 9]
[8, 9]
[8, 9]

In [137]:
users = ["linda","brian"]
print(users)

['linda', 'brian']

In [138]:
# addition values to list
users.append("suraphop")
print(users)

['linda', 'brian', 'suraphop']

In [139]:
users.insert(0,"kim")
print(users)

['kim', 'linda', 'brian', 'suraphop']

In [140]:
#delete
users.pop()
users

['kim', 'linda', 'brian']

In [141]:
users.pop(0)
users

['linda', 'brian']

In [142]:
del users[0]
users

['brian']

In [143]:
#edit
users[0] = "suraphop"
users

['suraphop']

In [144]:
print("suraphop" in users)
print("suraphop2" in users)
print("Suraphop" in users)
print("Suraphop".lower() in users)

True
False
False
True

In [145]:
"XS" in "XSOOIS"

True

In [146]:
#sorts
users = ["suraphop","linda"]
print(users)
users.sort() #ASC
print(users)
users.sort(reverse=True)
print(users)

['suraphop', 'linda']
['linda', 'suraphop']
['suraphop', 'linda']

1.6.2 Dictionaries

In [147]:
exchange_rates = {"EURUSD": 1.1152 , "GBPUSD":1.2452 , "AUDUSD":0.6161}
print(exchange_rates)
print(type(exchange_rates))

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}
<class 'dict'>

In [148]:
exchange_rates["EURUSD"]

1.1152

In [149]:
exchange_rates["EURJPY"] = 144.01
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 144.01}

In [150]:
exchange_rates["EURJPY"] = 145.01
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 145.01}

In [151]:
del exchange_rates["EURJPY"]
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [152]:
exchange_rates.pop("AUDUSD")
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452}

1.6.3 tuple

In [153]:
currencies = ("EUR","GBP","AUD")
currencies_list = ["EUR","GBP","AUD"]

print(currencies)
print(currencies_list)

print(type(currencies))
print(type(currencies_list))

#currencies[0] = "AAA"

('EUR', 'GBP', 'AUD')
['EUR', 'GBP', 'AUD']
<class 'tuple'>
<class 'list'>

## 1.7 Control flow

1.7.1 If statement

In [154]:
i = 6
print(i < 5)

# if True :
#     print("True") 
    
if i<5:
    print("i is smaller than 5")
elif i <= 10:
    print("i is between 5 and 10")
else:
    print("out of range")

False
i is between 5 and 10

In [155]:
# flag statement
is_important = True
if is_important:
    print("This is a important")
else:
    print("This is not important")
    
# 1 line if statement style    
print("This is an important") if is_important else print("This is not important")

This is a important
This is an important

1.7.2 For Loops and While Loops

In [156]:
for i in range(5):
    print(i)

0
1
2
3
4

In [157]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [158]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [159]:
for i in range(1,5):
    print(i)

1
2
3
4

In [160]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [161]:
n = 0 
while n <= 10 :
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9
10

1.7.3 For loops in data structure

1.7.3.1 for loops in lists

In [162]:
currencies = ["USD","HKD","AUD"]
currencies

['USD', 'HKD', 'AUD']

In [163]:
#currencies[0]

for currencie in currencies:
    print(currencie)
    print(type(currencie))

USD
<class 'str'>
HKD
<class 'str'>
AUD
<class 'str'>

1.7.3.2 for loops in dictionaries

In [164]:
exchage_rates = {"EURUSD": 1.1152 , "GBPUSD":1.2452,"AUDUSD":0.6161}
exchage_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [165]:
for exchage_rate in exchage_rates:
    print(exchage_rate)
    print(type(exchage_rate))

EURUSD
<class 'str'>
GBPUSD
<class 'str'>
AUDUSD
<class 'str'>

In [166]:
for exchage_rate in exchage_rates.keys():
    print(exchage_rate)
    print(type(exchage_rate))

EURUSD
<class 'str'>
GBPUSD
<class 'str'>
AUDUSD
<class 'str'>

In [167]:
for exchage_rate in exchage_rates.values():
    print(exchage_rate)
    print(type(exchage_rate))

1.1152
<class 'float'>
1.2452
<class 'float'>
0.6161
<class 'float'>

In [168]:
for exchage_rate in exchage_rates.items():
    print(exchage_rate)
    print(type(exchage_rate))

('EURUSD', 1.1152)
<class 'tuple'>
('GBPUSD', 1.2452)
<class 'tuple'>
('AUDUSD', 0.6161)
<class 'tuple'>

## 1.8 Function

In [169]:
def test():
    """for print hello world"""
    print("hello world")

test()

hello world

In [170]:
def calculation(input_1,input_2):
    """plus 2 digit"""
    print(input_1+input_2)
    
print(calculation(2,3))

5
None

In [171]:
def calculation(input_1,input_2):
    """plus 2 digit"""
    return input_1+input_2

print(calculation(2,3))
print(calculation(2,3)+10)

5
15

In [172]:
def calculation(input_1,input_2):
    """plus 2 digit"""
    result = input_1+input_2
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result ,msg  

print(calculation(2,3))

print(calculation(2,3)[0]+10)
print(calculation(2,3)[1])

print(calculation(3,2))

(5, 'ok')
15
ok
(5, 'ok')

In [173]:
def calculation(input_1,input_2):
    """minus 2 digit"""
    result = input_1-input_2
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result ,msg  
print(calculation(2,3))
print(calculation(3,2))

print(calculation(3,2))
print(calculation(input_1=3,input_2=2))
print(calculation(input_2=2,input_1=3))

(-1, 'ok')
(1, 'ok')
(1, 'ok')
(1, 'ok')
(1, 'ok')

In [174]:
def calculation(input_1,input_2=10):
    """minus 2 digit"""
    result = input_1-input_2
    if result < 10:
        msg = "ok"
    else:
        msg = "ng"
    return result ,msg  

print(calculation(3))
print(calculation(3,2))
print(calculation(input_2=2,input_1=3))

(-7, 'ok')
(1, 'ok')
(1, 'ok')

## 3.9 Module

In [175]:
import calculation

In [176]:
calculation.minus(2,3)

(-1, 'ok')

In [177]:
import calculation as cal 
cal.minus(2,3)

(-1, 'ok')

In [178]:
cal.plus(2,3)

(5, 'ok')

In [181]:
from calculation import minus , plus

print(minus(2,3))
print(plus(2,3))

(-1, 'ok')
(5, 'ok')

3.9.1 Example1

convert to celsius

-input ใส่ค่าอุณหภูมิ , fahrenhite,kelvin
- สูตรคำนวน (degrees-32)*(5/9) # fahrenhite
- สูตรคำนวน degrees -273.15 # kelvin
- ถ้าใส่ค่านอกเหนือจาก fahrenhite,kelvin โปรแกรมจะบอกว่า  ไม่รุ้จักค่านี้ให้ใส่ค่าใหม่
- ถ้าไม่ใส่หน่วยอุณหภูมิให้โปรแกรมคิดว่า fahrenhite

print(convert_to_celsius(100))

print(convert_to_celsius(100,'kelvin'))

print(convert_to_celsius(100,'Kelvin'))

print(convert_to_celsius(100,'Fahrenhite'))

print(convert_to_celsius(100,'qwqe'))

print(convert_to_celsius('100','kelvin'))

print(convert_to_celsius('100.13','kelvin'))

print(convert_to_celsius('sdfsdf','kelvin'))


37.78

-173.15

-173.15

37.78

Don't know source: qwqe

-173.15

-173.02

In [ ]:
def convert_to_celsius(degrees,source="fahrenhite"):
    """convert temperature"""
    try:
        if source.lower() == 'kelvin':
            return round(float(degrees) -273.15,2)
        elif source.lower() == 'fahrenhite':
            return round((float(degrees)-32)*(5/9),2)
        else:
            return f"Dont know source : {source}"
    except Exception as e:
        return e
        
print(convert_to_celsius(100))
print(convert_to_celsius(100,'kelvin'))
print(convert_to_celsius(100,'Kelvin'))
print(convert_to_celsius(100,'Fahrenhite'))
print(convert_to_celsius(100,'qwqe'))
print(convert_to_celsius('100','kelvin'))
print(convert_to_celsius('100.13','kelvin'))
print(convert_to_celsius('sdfsdf','kelvin'))

37.78
-173.15
-173.15
37.78
Dont know source : qwqe
-173.15
-173.02
could not convert string to float: 'sdfsdf'