# Basic Python

In [118]:
print("Hello world")

Hello world

## 1.1 Variables

In [119]:
msg = "hello world"
print(msg)

msg = "hello world2"
print(msg)

hello world
hello world2

In [120]:
#naming
name = "suraphop"
first_name = "suraphop"
last_name = "saelee"

In [121]:
#Example employee
employee_number =  "J6639"
emp_number = "J6639"
emp_no = "J6639"
emp = "J6639"
id = "J6639"

In [122]:
#legal

#1name = "suraphop"
name_1 = "suraphop"
name1 = "suraphop"
#$name = "suraphop"

#### 1.2 Data Types

1.2.1 Numberic

In [123]:
msg = "4"
print(type(msg))

msg_1 = "1"
print(type(msg))

print(msg+msg_1)

<class 'str'>
<class 'str'>
41

In [124]:
msg =  4
print(type(msg))

msg_1 = 1
print(type(msg))

print(msg+msg_1)

<class 'int'>
<class 'int'>
5

In [125]:
msg = int("4")

print(type(msg))

msg_1 = int("1")
print(type(msg))

print(msg+msg_1)

<class 'int'>
<class 'int'>
5

In [126]:
#cannot convert string to int
#msg = int("4D")

In [127]:
msg = 4.4
print(type(msg))

print(4+msg)

msg = 4
print(msg)
print(float(msg))

<class 'float'>
8.4
4
4.0

1.2.1 Operator

In [128]:
3+4

7

In [129]:
4-3

1

In [130]:
4*3

12

In [131]:
4/3

1.3333333333333333

In [132]:
print(round(4/3,2))

1.33

In [133]:
3**4

81

In [134]:
3 * (3+4)

21

1.2.2 String

In [135]:
msg = "hello world"
print(msg)

msg = 'hello world'
print(msg)

#print('This 's easy to learn python')
print("This 's easy to learn python")

hello world
hello world
This 's easy to learn python

In [136]:
# addding string

msg_1 = "hello"
msg_2 = "world"

print(msg_1+msg_2)
print(msg_1+" "+msg_2)
print(f"{msg_1} {msg_2}") # f-string function

helloworld
hello world
hello world

In [137]:
# formating
"PYTHON".lower()

'python'

In [138]:
"python".upper()

'PYTHON'

In [139]:
msg = "python"
msg.upper()

'PYTHON'

1.2.3 Contant

In [140]:
TEMPERATURE_SCALES = "fahtenheit"
print(TEMPERATURE_SCALES)

TEMPERATURE_SCALES = "fahtenheit1"
print(TEMPERATURE_SCALES)

TEMPERATURE_SCALES = 212
print(TEMPERATURE_SCALES)

fahtenheit
fahtenheit1
212

## 1.3 Compareative(booleans)

In [141]:
3 == 4

False

In [142]:
4 == 4

True

In [143]:
type(3 == 4)

bool

In [144]:
3 != 4

True

In [145]:
3 < 4

True

In [146]:
3 <= 4

True

In [147]:
3 < 4 < 5

True

In [148]:
True

True

In [149]:
False

False

In [150]:
not True

False

In [151]:
not False

True

In [152]:
False and True

False

In [153]:
True or False

True

## 1.4 Comments

In [154]:
#calculate temperature
TEMPERATURE_SCALES = 273 
current_temperature = 32
print(current_temperature + TEMPERATURE_SCALES) # This is a convert celsius to kelvin

305

In [155]:
""" multiple line 
comment with quote
"""
TEMPERATURE_SCALES = 273 
current_temperature = 32
print(current_temperature + TEMPERATURE_SCALES) # This is a convert celsius to kelvin

305

## 1.5 Index and Slicing

In [156]:
language = "PYTHON"

In [157]:
#Index
print(language[0])
print(language[1])
print(language[5])
print(language[-1])
print(language[-2])

P
Y
N
N
O

In [158]:
print(language[0:2])
print(language[:2])
print(language[2:4])
print(language[2:])
print(language[-3:])
print(language[-3:-1])

PY
PY
TH
THON
HON
HO

## 1.6 Data structures

1.6.1 Lists

In [159]:
file_name = "oee.xlsx"
file_names = ["one.xlsx" , "two.xlsx", "three.xlsx"]

print(type(file_name))
print(type(file_names))
print(file_names)

<class 'str'>
<class 'list'>
['one.xlsx', 'two.xlsx', 'three.xlsx']

In [160]:
file_names_2 = ["one2.xlsx" , 1, "three2.xlsx",2]
file_names_2

['one2.xlsx', 1, 'three2.xlsx', 2]

In [161]:
# addition list
file_names+file_names_2

['one.xlsx', 'two.xlsx', 'three.xlsx', 'one2.xlsx', 1, 'three2.xlsx', 2]

In [162]:
file_names = ["one.xlsx" , "two.xlsx", "three.xlsx"]
print(type(file_names))

print(type(file_names[0]))
print(file_names[0])

print(type(file_names[:2]))
print(file_names[:2])

<class 'list'>
<class 'str'>
one.xlsx
<class 'list'>
['one.xlsx', 'two.xlsx']

In [163]:
nested_lists = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [164]:
print(nested_lists[0])
print(nested_lists[0][0])

# access 5,9,[8,9]
print(nested_lists[1][1])
print(nested_lists[2][2])
print(nested_lists[2][1:]) # recommend
print(nested_lists[2][1:3])
print(nested_lists[2][-2:])

[1, 2, 3]
1
5
9
[8, 9]
[8, 9]
[8, 9]

In [165]:
users = ["linda","brian"]
print(users)

['linda', 'brian']

In [166]:
# addition values to list
users.append("suraphop")
print(users)

['linda', 'brian', 'suraphop']

In [167]:
users.insert(0,"kim")
print(users)

['kim', 'linda', 'brian', 'suraphop']

In [ ]:
#delete
users.pop()
users

['kim', 'linda', 'brian']

In [169]:
users.pop(0)
users

['linda', 'brian']

In [170]:
del users[0]
users

['brian']

In [ ]:
#edit
users[0] = "suraphop"
users

['suraphop']

In [176]:
print("suraphop" in users)
print("suraphop2" in users)
print("Suraphop" in users)
print("Suraphop".lower() in users)

True
False
False
True

In [177]:
"XS" in "XSOOIS"

True

In [ ]:
#sorts
users = ["suraphop","linda"]
print(users)
users.sort() #ASC
print(users)
users.sort(reverse=True)
print(users)

['suraphop', 'linda']
['linda', 'suraphop']
['suraphop', 'linda']

1.6.2 Dictionaries

In [188]:
exchange_rates = {"EURUSD": 1.1152 , "GBPUSD":1.2452 , "AUDUSD":0.6161}
print(exchange_rates)
print(type(exchange_rates))

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}
<class 'dict'>

In [189]:
exchange_rates["EURUSD"]

1.1152

In [190]:
exchange_rates["EURJPY"] = 144.01
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 144.01}

In [191]:
exchange_rates["EURJPY"] = 145.01
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 145.01}

In [192]:
del exchange_rates["EURJPY"]
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [193]:
exchange_rates.pop("AUDUSD")
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2452}

1.6.3 tuple

In [200]:
currencies = ("EUR","GBP","AUD")
currencies_list = ["EUR","GBP","AUD"]

print(currencies)
print(currencies_list)

print(type(currencies))
print(type(currencies_list))

#currencies[0] = "AAA"

('EUR', 'GBP', 'AUD')
['EUR', 'GBP', 'AUD']
<class 'tuple'>
<class 'list'>

## 1.7 Control flow

1.7.1 If statement

In [211]:
i = 6
print(i < 5)

# if True :
#     print("True") 
    
if i<5:
    print("i is smaller than 5")
elif i <= 10:
    print("i is between 5 and 10")
else:
    print("out of range")

False
i is between 5 and 10

In [ ]:
# flag statement
is_important = True
if is_important:
    print("This is a important")
else:
    print("This is not important")
    
# 1 line if statement style    
print("This is an important") if is_important else print("This is not important")

This is a important
This is an important