## 2 Pandas

In [3]:
#!pip install pandas

In [ ]:
#!conda list pandas

# packages in environment at C:\Users\nmb_m\miniconda3\envs\python_office:
#
# Name                    Version                   Build  Channel
pandas                    2.2.3                    pypi_0    pypi

In [7]:
import pandas as pd

In [10]:
df = pd.DataFrame(
    {
        "Name": ["Suraphop","Linda","John"],
        "Age" : [22,24,53],
        "Sex" : ["male","female","male"]
    }
)

print(df)
print(type(df))

       Name  Age     Sex
0  Suraphop   22    male
1     Linda   24  female
2      John   53    male
<class 'pandas.core.frame.DataFrame'>

In [12]:
datas = [["Mark",55,"Italy",4.5,"Europe"],
         ["john",33,"USA",6.9,"America"],
         ["tim",41,"USA",3.9,"America"]]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

   name  age country  score continent
0  Mark   55   Italy    4.5    Europe
1  john   33     USA    6.9   America
2   tim   41     USA    3.9   America

## 2.2 Input

1.2.1 csv and excel

In [ ]:
df = pd.read_csv()